<svg id="svgrenderer" class="boardsvg" xmlns="http://www.w3.org/2000/svg"
     style="vector-effect: non-scaling-stroke; width: 100%; height: 100%;"
     viewBox="0 0 2000 2000">

  <g id="grid-lines">
    <!-- Horizontal lines -->
    <line *ngFor="let y of intervals()" x1="0" [attr.y1]="y" x2="2000" [attr.y2]="y" stroke="black"
          stroke-width="1px"></line>
    <!-- Vertical lines -->
    <line *ngFor="let x of intervals()" [attr.x1]="x" y1="0" [attr.x2]="x" y2="2000" stroke="black"
          stroke-width="1px"></line>
  </g>

  <g id="players">
    <ng-container *ngFor="let player of players()">
      <rect
        [attr.x]="player.c.x * 100"
        [attr.y]="player.c.y * 100" width="100" height="100"
        [attr.fill]="convertIdToColor(player.id)"></rect>
      <rect *ngIf="player.holdsBlock"
            [attr.x]="player.c.x * 100 + 10"
            [attr.y]="player.c.y * 100 + 10" width="80" height="80"
            [attr.fill]="'white'"
      fill-opacity="50%"></rect>
    </ng-container>
  </g>

  <g id="blocks">
    <text *ngFor="let block of blocks()"
          [attr.x]="block.c.x * 100 + 50"
          [attr.y]="block.c.y * 100 + 60"
          dominant-baseline="middle"
          text-anchor="middle"
          font-size="75px">
      {{ block.id }}
    </text>
  </g>

  <g id="walls">
    <rect *ngFor="let wall of walls()"
          [attr.x]="wall.x * 100"
          [attr.y]="wall.y * 100" width="100" height="100"
          fill="brown"></rect>
  </g>

  <g id="pits">
    <rect *ngFor="let pit of pits()"
          [attr.x]="pit.x * 100"
          [attr.y]="pit.y * 100" width="100" height="100"
          fill="black"></rect>
  </g>
</svg>
