<div class="row text-center">
  <div class="col border-end border-dark">
    <h1>IN</h1>
    <div class="d-flex flex-column align-items-center">
      <div *ngFor="let n of input" class="block">{{ n }}</div>
    </div>
  </div>

  <div class="col-8 border-end border-dark">
    <div class="row">
      <div class="col d-flex flex-column align-items-center">
        <h1>MEMORY</h1>
        <p class="block">{{ memory }}</p>
      </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let memorySlot of memorySlots; let i = index"
           class="memory-slot d-flex flex-column align-items-center">
        <div class="memory-slot-value">{{ memorySlot }}</div>
        <div class="memory-slot-index">{{ i }}</div>
      </div>
    </div>
  </div>

  <div class="col">
    <h1>OUT</h1>
    <div class="d-flex flex-column align-items-center">
      <p *ngFor="let n of output" class="block">{{ n }}</p>
    </div>
  </div>
</div>
