.block {
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, rgba(179,213,124,1) 0%, rgba(161,203,95,1) 35%);
  border-color: #4F6036;
  border-bottom: 5px solid #4F6036;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  margin-bottom: 20px;
}

.main-memory {
  width: 100px;
  height: 100px;
}

.memory-slot {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: gray;
}

.memory-slot-index {
  margin-left: 80px;
}

.memory-slot-value {
  width: 50px;
  height: 50px;
  background: linear-gradient(180deg, rgba(179,213,124,1) 0%, rgba(161,203,95,1) 35%);
  border-color: #4F6036;
  border-bottom: 5px solid #4F6036;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  margin-top: 20px;
}

.memory-slot-value-empty {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
