.control-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 10px;
}

button {
  padding: 16px 24px;
  font-size: 30px;
  color: white;
}

button:disabled {
  background-color: gray !important;
}

.btn-stop {
  background-color: #C5366C;
}
.btn-start {
  background-color: #57A773;
}
.btn-enter {
  background-color: #00AAE0;
}

.slider {
  width: 80px;
}
