.control-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 10px;
}

button {
  font-size: 30px;
  color: white;
  width: 70px;
  height: 70px;
}

button:disabled {
  background-color: gray !important;
}

.btn-stop {
  background-color: #C5366C;
}
.btn-start {
  background-color: #57A773;
}
.btn-enter {
  background-color: #00AAE0;
}

.speed-control {
  width: 70px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
}

.speed-control > button {
  background-color: #C5366C;
  font-size: 12px;
  padding: 0;
  color: black;
  width: 35px;
  height: 35px;
}

.speed-control > button.selected {
  background-color: #18BEFD;
  color: white;
}
