<div class="control-panel-container">
  <div class="control-panel">
    <button [disabled]="!canBeStopped()" class="btn-stop" (click)="stop()"><i class="bi bi-stop-fill"></i></button>
    <button [disabled]="!canBeStarted()" class="btn-start" (click)="start()"><i class="bi bi-play-fill"></i></button>
    <button [disabled]="isFinished()" class="btn-enter" (click)="singleStep()"><i class="bi bi-arrow-return-right"></i></button>

    <div class="speed-control">
      <button (click)="updateSpeedupFactor(1)"  [className]="speedUpFactor == 1 ? 'selected' : ''">1x</button>
      <button (click)="updateSpeedupFactor(4)"  [className]="speedUpFactor == 4 ? 'selected' : ''">4x</button>
      <button (click)="updateSpeedupFactor(16)" [className]="speedUpFactor == 16 ? 'selected' : ''">16x</button>
      <button (click)="updateSpeedupFactor(32)" [className]="speedUpFactor == 32 ? 'selected' : ''">32x</button>
    </div>
  </div>
</div>
