.memory-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  gap: 8px;
}

.memory > * {
  flex: 0 0 120px;
}

.memory-slot {
  position: relative;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.memory-0 {
  background-color: #E1D9D9;
}
.memory-1 {
  background-color: #AEAEAE;
}
.memory-number {
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-weight: bold;
  color: #818181;
}
