<div class="memory-container">
  <div class="memory">
    <div class="memory-slot memory-0">
      <div class="memory-block-empty">

      </div>
      <div class="memory-number">
        0
      </div>
    </div>
    <div class="memory-slot memory-1">
      <div class="memory-block">
        1
      </div>
      <div class="memory-number">
        1
      </div>
    </div>
    <div class="memory-slot memory-0">
      <div class="memory-block">
        1
      </div>
      <div class="memory-number">
        2
      </div>
    </div>
    <div class="memory-slot memory-1">
      <div class="memory-block-empty">

      </div>
      <div class="memory-number">
        3
      </div>
    </div>

    <div class="memory-slot memory-0">
      <div class="memory-block-empty">

      </div>
      <div class="memory-number">
        4
      </div>
    </div>
    <div class="memory-slot memory-1">
      <div class="memory-block-empty">

      </div>
      <div class="memory-number">
        5
      </div>
    </div>
  </div>
</div>
