.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  text-align: center;
  color: white;
}

button {
  padding: 4px 8px;
  font-size: 32px;
  border-radius: 100px;
  color: white;
}
