.track-container {
  flex-grow: 1;
  height: 100px;

  display: flex;
  gap: 50px;
}

.line {
  background-color: black;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 64px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
