<div class="track-container" [style.padding-right]="isIn ? '40px' : 0" [style.padding-left]="isIn ? 0 : '40px'">
  <div *ngIf="!isIn" class="title">
    <h1>OUT -></h1>
  </div>
  <div class="line"
       [style.padding-right]="isIn ? '64px' : 0"
       [style.padding-left]="isIn ? 0 : '64px'"
       [style.flex-direction]="isIn ? 'row-reverse' : 'row'">
    <div *ngFor="let value of values" class="memory-block">
      {{ value }}
    </div>
  </div>
  <div *ngIf="isIn" class="title">
    <h1>-> IN</h1>
  </div>
</div>
