<div class="track-container" [style.padding-right]="isIn ? '40px' : 0" [style.padding-left]="isIn ? 0 : '40px'">
  <div *ngIf="!isIn" class="title">
    <h1>OUT -></h1>
  </div>
  <div #line class="line"
       [style.padding-right]="isIn ? '64px' : 0"
       [style.padding-left]="isIn ? 0 : '64px'"
       [style.flex-direction]="isIn ? 'row-reverse' : 'row'">
    <ng-container *ngFor="let value of values; let i = index">
    <div *ngIf="i < maxIndex()" class="memory-block">
      {{ value }}
    </div>
    </ng-container>
  </div>
  <div *ngIf="isIn" class="title">
    <h1>-> IN</h1>
  </div>
</div>
