<div class="row m-0 p-0 h-100">
  <div class="col-5 m-0 p-0 bg-dark">
    <div class="jumbotron p-3 text-white">
      <div class="col px-0">
        <h1 class="display-4 font-italic">Eight Billion Humans</h1>
        <p class="lead my-3">Go ahead and start coding!</p>
      </div>
    </div>
    <div class="p-1">
      <app-editor (runCode)="execute($event)"></app-editor>
    </div>
  </div>
  <div class="col-7 m-0 p-0" style="background-color: lightgray;">
    <div class="vertical-center justify-content-center">
      <div>
        <app-svg-grid #svgGrid></app-svg-grid>
      </div>
    </div>
  </div>
</div>
