.main-container {
  height: 100%;
  display: flex;
}

.editor-container {
  flex: 0 0 auto;
  width: 40%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  padding: 16px 32px;
}

.header-title-hamburger {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.machine-container {
  flex: 0 0 auto;
  width: 60%;

  background-color: #BEBEBE;
  height: 100%;
}

.editor {
  flex-grow: 1;
  overflow-y: auto;
  margin: 16px 32px;
}
