<div class="main-container">
  <div class="editor-container">
    <div class="header">
      <div class="header-title-hamburger">
        <div class="hamburger">
          <img src="assets/Hamburger.svg" alt="menu"/>
        </div>
        <h1>Seven Billion Humans</h1>

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at accumsan erat. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Nunc tempus dignissim lorem, vitae vestibulum lectus volutpat
        non. Ut cursus purus at placerat eleifend. Curabitur nec ex odio. Morbi sit amet dui quis neque
        accumsan.</p>
    </div>
    <div class="editor">
      <app-editor (runCode)="runCode($event)"></app-editor>
    </div>
  </div>
  <div class="machine-container">
    <app-machine-screen #machineScreenComponent></app-machine-screen>
  </div>
</div>
