<div class="main-container">
  <div class="fixed-width-height-container" #container>
    <div class="editor-container" #left>
      <div class="header">
        <div class="header-title-hamburger">
          <div class="hamburger">
            <img src="assets/Hamburger.svg" alt="menu"/>
          </div>
          <h1>The Aris Machine</h1>

        </div>
        <p [innerHTML]="level.description"></p>
      </div>
      <div class="editor">
        <app-editor [levelId]="this.levelId" #machineEditorComponent></app-editor>
      </div>
    </div>

    <div class="resize-slider" draggable="true" (dragstart)="onDragStart()" (drag)="onDrag($event)" (dragend)="onDragEnd()">
    </div>

    <div class="machine-container" #right>
      <app-machine-screen #machineScreenComponent></app-machine-screen>
    </div>
  </div>
</div>
