.cm-s-humans.CodeMirror {background: #000000; color: #e0e0e0; font-family: "Consolas", monospace}
.cm-s-humans div.CodeMirror-selected {background: #404040 !important;}
.cm-s-humans .CodeMirror-gutters {background: #000000; border-right: 0;}
.cm-s-humans .CodeMirror-linenumber {color: white;}
.cm-s-humans .CodeMirror-cursor {border-left: 1px solid #c0c0c0 !important;}

.cm-s-humans span.cm-comment {color: #00AAE0;}
.cm-s-humans span.cm-atom {color: #cc00ff;}
.cm-s-humans span.cm-number {color: #cc00ff;}

.cm-s-humans span.cm-property, .cm-s-humans span.cm-attribute {color: #00AAE0;}
.cm-s-humans span.cm-keyword {color: #E03600;}
.cm-s-humans span.cm-string {color: #ff0099;}

.cm-s-humans span.cm-variable {color: #3AE000;}
.cm-s-humans span.cm-variable-2 {color: #00AAE0;}
.cm-s-humans span.cm-def {color: #ff9900;}
.cm-s-humans span.cm-error {background: #E03600; color: #c0c0c0;}
.cm-s-humans span.cm-bracket {color: #e0e0e0;}
.cm-s-humans span.cm-tag {color: #E03600;}
.cm-s-humans span.cm-link {color: #cc00ff;}

.cm-s-humans .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-humans .CodeMirror-activeline-background { background: #202020; }
